/* Basic Style */
ul {
  margin: 0;
  padding: 0px;
}

li, h3 {
  list-style: none;
}

input, button {
  outline: none;
}

/* common styles */
.wrapper {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.tasks-title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-input:focus {
  color: #333;
}

.action-task {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.action-task:hover {
  color: #3a3A3a;
}

.tasks-block {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

/* info block */
.info-block {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.info-block__img {
  width: 100%;
}

.info-block__link {
  font-family: fantasy, cursive;
}

/* New Task */
.task-add__row {
  display: flex;
}

.task-add__title {
  display: block;
  margin: 0 0 20px;
}

.task-add__task {
  width: 318px;
}

/* Task list */
.task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task > * {
  vertical-align: middle;
}

.task__check {
  margin: 0 10px;
}

.task__text {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.task__input {
  width: 226px;
}

.task__delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.task__delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task__text {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.task__input {
  display: none;
}

.task.edit-mode .task__input {
  display: inline-block;
  width: 224px;
}

.task.edit-mode .task__text {
  display: none;
}

@media (max-width:768px) {

  .info-block {
    text-align: center;
  }

}